{% extends "main/base.html" %}
{% block title %} My Blog website {% endblock title %}
{% block content %}
<h1 class="text-center mt-5 mb-5"> Posts </h1>
 {% for post in posts%}
 <div class="card mb-3">
    <div class="card-header">
      <h2>@{{ post.author.username }}</h2>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text">{{ post.description }}</p>
      {% if user == post.author or perms.main.delete_post %}
      <div class="d-flex">
      <form method="post">
        {% csrf_token %}
      <button  type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger mb-4 me-3">delete</button>
      </form>
      {% endif %}
      {% if user.is_staff %}
      <form method="post">
        {% csrf_token %}
      <button  type="submit" name="user_id" value="{{ post.author.id }}" class="btn btn-warning mb-4">Ben User</button>
      </form>
      {% endif %}
    </div>
      <div class="card-footer">
        {{ post.created_at }}
      </div>
    </div>
  </div>
 {% endfor %}


{% endblock content %}
